@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.table-container {
  padding-left:20px;
  width: 100vw-2;
  margin-left: 1rem;
  text-align: center;
  border: 1px solid rgba(155, 155, 155, 0.425);
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-size: 18px;
  color: #fff;
}

.table-add {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  border: 1px solid rgba(155, 155, 155, 0.425);
  padding: 0 50px;
  padding-top: 2vh;
  font-size: 14px;
  color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
  color:#fff
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

::ng-deep .mat-select-value-text{
  color: #fff;
  font-size: 20px;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: #29044869;
}

.mat-label, input{
  color: #fff;
  font-size: 20px;
}

.save-button, .erase-button{
  text-decoration: none;
  border: 1px solid rgba(155, 155, 155, 0.425);
  background-color: #a19382;
  color: #fff;
  font-size: 26px;
  height: 50px;
  width: 200px;
}

.save-button{
  margin-left: 39vw;
  margin-right: 15px;
  color: #fff;
  font-size: 26px;
  height: 50px;
  width: 200px;
}

.back-button{
  color:rgb(255, 255, 255);
  background-color: transparent;
  position: absolute;
  top:30px;
  left:50px;
}

.back-button:hover{
  transform: scale(1.5);
}

input[type = 'file']{
  border: 1px solid rgba(255, 255, 255, 0.425);
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}
