<button class="back-button" (click)="irParaListaDeJogos()">
  <mat-icon alt="Voltar" aria-hidden="false" aria-label="delete">arrow_back</mat-icon>
</button>

<h1>Adicionar novo Jogo a Biblioteca</h1>
<form [formGroup] = "formCadastrar" (ngSubmit) = "submitForm()">
    <table class="table-add">
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Título</mat-label>
          <input matInput type="string" formControlName = "titulo">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['titulo'].touched">
            <small  *ngIf="formCadastrar.controls['titulo'].hasError('required')" 
            style = "color: red;">O titulo é obrigatório.</small>
            <small  *ngIf="formCadastrar.controls['titulo'].hasError('minlength')" 
            style = "color: red;">O titulo deve ter no mínimo cinco caracteres.</small>
        </div>
        
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Preço</mat-label>
          <input matInput type="price" formControlName = "preco" currencyMask ="preco" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' } ">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['preco'].touched">
            <small  *ngIf="formCadastrar.controls['preco'].hasError('required')" 
            style = "color: red;">O preço é obrigatório.</small>
        </div>

        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Desenvolvedora</mat-label>
          <input matInput type="string" formControlName = "devs">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['devs'].touched">
            <small  *ngIf="formCadastrar.controls['devs'].hasError('required')" 
            style = "color: red;">É obrigatório informar a empresa Desenvolvedora.</small>
        </div>

        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Gênero</mat-label>
          <input matInput type="string" formControlName = "genero">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['genero'].touched">
            <small  *ngIf="formCadastrar.controls['genero'].hasError('required')" 
            style = "color: red;">É obrigatório informar o gênero ao qual o jogo pertence.</small>
        </div>
        
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Modo de Jogo *</mat-label>
          <mat-select multiple formControlName = "modoJogo">
            <mat-option *ngFor="let option of gamemode" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['modoJogo'].touched">
            <small  *ngIf="formCadastrar.controls['modoJogo'].hasError('required')" 
            style = "color: red;">É obrigatório informar o modo de jogo ao qual o jogo pertence.</small>
        </div>
        
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Plataforma *</mat-label>
          <mat-select multiple formControlName = "plataforma">
            <mat-option *ngFor="let option of plataformaLista" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['plataforma'].touched">
          <small  *ngIf="formCadastrar.controls['plataforma'].hasError('required')" 
          style = "color: red;">É obrigatório informar a plataforma que o jogo pertence.</small>
      </div>
        
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Ano de lançamento *</mat-label>
          <input matInput type="number" formControlName="lancamento">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['lancamento'].touched">
          <small  *ngIf="formCadastrar.controls['lancamento'].hasError('required')" 
          style = "color: red;">É obrigatório informar o ano de lançamento do jogo.</small>
      </div>
      
      
    <input type="file" required id="file" formControlName="downloadURL" class="inputfile">
        
    <div *ngIf="formCadastrar.controls['lancamento'].touched">
          <small  *ngIf="formCadastrar.controls['lancamento'].hasError('required')" 
          style = "color: red;">É obrigatório cadastrar uma imagem.</small>
      </div>
      <br />
        
</table>
        
        <br/>
        <button class="save-button" type="submit">Salvar</button>
        <button class="erase-button" type="reset" >Limpar</button>
</form>
