@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.table-container {
  padding-left:20px;
  width: 100vw-2;
  margin-left: 1rem;
  text-align: center;
  border: 1px solid rgba(155, 155, 155, 0.425);
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-size: 18px;
  color: #fff;
}

.table-add {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  border: 1px solid rgba(155, 155, 155, 0.425);
  padding: 0 50px;
  padding-top: 2vh;
  font-size: 14px;
  color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
  color:#fff
}

th{
  background-color:#eab67669;
  color: aliceblue;
  text-transform: capitalize;
  font-size: 20px;
  font-style: normal;
  height: 30px;
  max-width: 500px;
}

td{
  max-width: 500px;
}

button {
  text-decoration: none;
  margin-right: 2px;
  border: none;
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

.side-button{
  background-color: #eab67669;
  color: aliceblue;
}

.mat-label{
  color: #fff;
  font-size: 20px;
}

.save-button{
  margin-left: 40vw;
  text-decoration: none;
  margin-right: 15px;
  border: 1px solid rgba(155, 155, 155, 0.425);
  background-color: #a19382;
  color: #fff;
  font-size: 26px;
  height: 50px;
  width: 200px;
}

.erase-button{
  text-decoration: none;
  border: 1px solid rgba(155, 155, 155, 0.425);
  margin-right: 2px;
  background-color: #a19382;
  color: #fff;
  font-size: 26px;
  height: 50px;
  width: 200px;
}
input{
  font-size: 20px;
}
