<h1>Adicionar novo Jogo a Biblioteca</h1>
<form [formGroup] = "formCadastrar" (ngSubmit) = "submitForm()">
    <table class="table-add">
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Título</mat-label>
          <input matInput type="string" formControlName = "titulo">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['titulo'].touched">
            <small  *ngIf="formCadastrar.controls['titulo'].hasError('required')" 
            style = "color: red;">O titulo é obrigatório.</small>
            <small  *ngIf="formCadastrar.controls['titulo'].hasError('minlength')" 
            style = "color: red;">O nome deve ter no mínimo cinco caracteres.</small>
        </div>
        
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Preço</mat-label>
          <input matInput type="number" formControlName = "preco">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['preco'].touched">
            <small  *ngIf="formCadastrar.controls['preco'].hasError('required')" 
            style = "color: red;">O preço é obrigatório.</small>
        </div>

        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Desenvolvedora</mat-label>
          <input matInput type="string" formControlName = "devs">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['devs'].touched">
            <small  *ngIf="formCadastrar.controls['devs'].hasError('required')" 
            style = "color: red;">É obrigatório informar a empresa Desenvolvedora.</small>
        </div>

        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Gênero</mat-label>
          <input matInput type="string" formControlName = "genero">
        </mat-form-field>
        <div *ngIf="formCadastrar.controls['genero'].touched">
            <small  *ngIf="formCadastrar.controls['genero'].hasError('required')" 
            style = "color: red;">É obrigatório informar o gênero ao qual o jogo pertence.</small>
        </div>
        
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Modo de Jogo *</mat-label>
          <mat-select [formControl]="options" multiple ngDefaultControl = "modoJogo">
            <mat-option *ngFor="let option of gamemode" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Plataforma *</mat-label>
          <mat-select [formControl]="options" multiple ngDefaultControl = "plataforma">
            <mat-option *ngFor="let option of plataformaLista" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label class="mat-label">Ano de lançamento *</mat-label>
          <input matInput type="number" formControlName = "lancamento" >
        </mat-form-field>
        
        </table>
        <br/>
        <button class="save-button" (click) = "salvar()">Salvar</button>

</form>
