<h1>Lista de Jogos na Coleção</h1>

<button class="exit" (click)=logout()>Sair </button> 

<table class="table-container">
  <tr>
    <th>Título</th>
    <th>Preço</th>
    <th>Desenvolvedora</th>
    <th>Gênero</th>
    <th>Modo de Jogo</th>
    <th>Plataforma</th>
    <th>Ano de Lançamento</th>
    <th>Imagem</th>
  </tr>
  <tr *ngFor="let jogo of lista_jogos">
    <td>{{jogo.titulo}}</td>
    <td>{{jogo.preco}}</td>
    <td>{{jogo.devs}}</td>
    <td>{{jogo.genero}}</td>
    <td>{{jogo.modoJogo}}</td>
    <td>{{jogo.plataforma}}</td>
    <td>{{jogo.lancamento}}</td>
    <td><img src="{{jogo.downloadURL}}"></td>
    
    <td>
      <button class="side-button" (click)="editar(jogo)">
        <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
      </button>
      <button class="side-button" (click)="excluir(jogo)">
        <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
<br/>

<button class="pages-button" (click)="irParaCadastrarJogo()">
  Cadastrar Novo Jogo ▶
</button>